@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>


<style>
    body {
        padding: 0px;
        margin: 0;
        font-size: large;
        font-family: Gabriola, Geneva, Tahoma, sans-serif;
    }

    p {
        font-weight: bold;
    }

    img{
        text-align:center;
    }

</style>

<h2>This page provides details on farm central.</h2>

<p>
    Farm Central, a stock management website where a group of local farmers can track incoming and outgoing stock and which farmer each product belongs
    to.
</p>

<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT69G6A7eLg8TYF4PdhfIrxEkcfHbfaNXoPEA&usqp=CAU" width="500" height="500" class="text-md-right ">
</div>
