@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <style>
            body {
                padding: 0px;
                margin: 0;
                font-size: medium;
                font-family: Gabriola, Geneva, Tahoma, sans-serif;
            }

            p {
                font-weight: bold;
            }
        </style>

    <img src="https://static.vecteezy.com/system/resources/previews/004/112/207/original/login-access-denied-illustration-system-refuses-password-error-and-entry-to-computer-device-showing-user-does-not-have-permission-for-website-or-mobile-development-vector.jpg" width="500" height="500">


    <h4>
        You do not have permission to access this page.
        Please contact your site adminstrator(s) to request access
    </h4>




</div>
