@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        padding: 0px;
        margin: 0;
        font-size: large;
        font-family: Gabriola, Geneva, Tahoma, sans-serif;
    }

    p {
        font-weight: bold;
    }


    body {
        background-image: url('https://freevector-images.s3.amazonaws.com/uploads/vector/preview/40545/Geometric_Bg_generated.jpg');
    }
</style>


<div class="text-center">
    <h1 class="display-4">FARM CENTRAL</h1>
    <h1 class="display-4">Welcome to farm central</h1>

    @*<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT69G6A7eLg8TYF4PdhfIrxEkcfHbfaNXoPEA&usqp=CAU" width="500" height="500" class="text-md-right ">*@

</div>
